@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');


/* GENERAL DESIGN */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1f1d1d;
    background-image: url(./assets/fondo.png);
    /* cursor: url(./assets/UFO.png), pointer; */
}

/* LANDING DESIGN */

/* .bg{
    width: 1920px;
    height: 927px;
    background-image: url(./assets/wallpaperbetter.jpg);
    background-size: cover;
} */

.landing{
    border-radius: 16px;
    margin-top: 16px;
}

.landing-container{
    text-align: center;
}

.landing-container h1{
    font-family: 'Architects Daughter', cursive;
    font-size: 48px;
    color: #f8f729;
}

.landing-container p{
    font-family: 'Nothing You Could Do', cursive;
    color: #FFFDFA;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0px 32px 8px 32px;
    padding: 0;
}

/* LOGIN */

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    color: #FFFDFA;
    text-align: center;
}

.login-form input{
    color: #FFFDFA;
    padding: 16px;
    width: 300px; 
    border-radius: 8px;
    outline: none;
    background-image: url(./assets/li-cover.png);
    background-position: top;
    background-size: cover;
}

.login-form button{
    font-family: 'Nothing You Could Do', cursive;
    background-color: #233b29;
    color: #FFFDFA;
    border: none;
    border-radius: 8px;
    margin-top: 16px;
    padding: 8px 32px 8px 32px;
}


/* NAVBAR DESIGN */

.nav{
    font-family: 'Architects Daughter', cursive;
    display: flex;
    justify-content: center;
    margin-top: 16px;
    gap: 32px;
    padding: 8px;
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 8px;
}

.nav a{
    color: #eeee29;
    text-decoration: none;
}

.RM{
    text-align: center;
    margin: 16px 16px;
}

.RM img{
    width: 90%;
    border-radius: 16px;   
}

/* .RM h1{
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 160px;
    color: #FFFDFA;
    padding-bottom: 32px;
} */

/* .prox{
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    font-size: 150px;
    color: #FFFDFA;
} */

/* .carrusel-img{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 72px;
    opacity: .1;
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 18px;
} */

/* CARDS */

.characters ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 8px;
    margin-top: 32px;
    margin-left: 40px;
}

.characters li{
    flex-basis: calc(25% - 16px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border: 2px solid #FFFDFA;
    border-radius: 8px;
}

.characters li img{
    border-radius: 8px;
    margin-top: 16px;
}

.characters li p{
    font-family: cursive;
    color: #FFFDFA;
    margin-bottom: 16px;
}

.characters li h4 {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 20px;
    color: #FFFDFA;
    margin-bottom: -8px;
}

.characters ul li:hover{
    background-image: url(./assets/li-cover.png);
    background-size: cover;
    /* background-color: #233b29; */
    /* cursor: url(./assets/Monster2.png), pointer; */
}

.link-characters{
    color: #222;
    text-decoration: none;
    margin-bottom: 16px;
    background-color: #f8f729;
}

/* link-characters */

/* .btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 64px;
    gap: 16px;
} */

/* .btn-container img{
    display: flex;
    align-items: center;
} */

/* .btn-container button{
    padding: 16px;
    background-color: #233b29;
    border: none;
    border-radius: 4px;
    transition: 100ms;
    cursor: url(./assets/RickCursor.png), pointer;
} */

/* .btn-container button:hover{
    background-color: #222;
    color: #FFFDFA;
    outline: none;
    box-shadow: 0 0 0 2px #fffdfa;
} */

/* .btn-container label{
    color: #FFFDFA;
} */

/* .btn-container input{
    color: #222;
    width: 400px;
    height: 40px;
    border-radius: 8px;
    border: none;
    text-align: left;
    outline: none;
    transition: 200ms;
} */

.footer{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #233b29;
    margin: 16px 32px;
    border-radius: 16px;
    padding: 64px 32px;
    display: flex;
    justify-content: space-around;
}

.footer-container01{
    color: #FFFDFA;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    width: 50vw;
    margin: 0 64px;
    border-left: 1px solid #FFFDFA;
    padding: 32px;
    border-radius: 16px;
}

.footer-container01 img{
    margin-bottom: -8px;
}


.footer-container02{
    color: #FFFDFA;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    width: 50vw;
    margin: 0 64px;
    border-right: 1px solid #FFFDFA;
    padding: 32px;
    border-radius: 16px;
}

/* .p-img{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
} */

/* .p-img p{
    margin-top: 16px;
    text-align: center;
    
} */

/* .footer-container01 img:hover{
    cursor: url(./assets/RickCursor.png),
    pointer;
} */


/* CHARACTERS INFO */

/* .details-character h1,p{
    display: inline-block;
} */

.details-character h1{
    font-family: 'Architects Daughter', cursive;
    font-size: 40px;
    color: #eeee29;
}

.details-character img{
    border-radius: 8px;
}

.details-character{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: 0px 32px 32px 32px;
    gap: 16px;
    border: 2px solid #233b29;
    padding: 32px;
    background-color: #233b296c;
}

.para-info{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #FFFDFA;
}

.back-home{
    font-family: 'Architects Daughter', cursive;
    text-decoration: none;
    color: #eeee29;
}

.bio{
    font-family: 'Architects Daughter', cursive;
    color: #FFFDFA;
    text-align: center;
    margin: 0px 32px 16px 32px;
}

.title-bio{
    font-family: 'Architects Daughter', cursive;
    color: #eeee29;
    font-size: 64px;
    text-align: center;
    margin: 0px 0px 32px 0px;
}

/* Retocar */



.link-tologin button{
    margin-top: 16px;
}

.form-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 16px;
}

.form-login h1{
    font-family: 'Architects Daughter', cursive;
    color: #eeee29;
}







/* KEYFRAMES */

@keyframes slideLeft {

    from {
        transform: translateX(-64px);
    }

    to {
        transform: translateX(64px);
    }
}

.monster-icon {

    /* Misma transition pero reducida */
    animation: slideLeft 1s ease-in-out 0s infinite alternate;
    /* animation-name: slideInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none; */
    margin-top: 8px;
    
}

@keyframes slideInLeft {

    from {
        transform: translateX(-600px);
    }

    to {
        transform: translateX(0);
    }
}

.img-morty {

    /* Misma transition pero reducida */
    animation: slideInLeft 3s ease-in 0s 1 normal none;

    /* animation-name: slideInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none; */
}







    

